@page "/evidence"

<h3>Evidence List</h3>
<p>This page will later display the list of evidence from the database.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Evidence Name</th>
            <th>Description</th>
            <th>Matter</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sample Evidence 1</td>
            <td>Sample description</td>
            <td>Sample Matter</td>
        </tr>
        <tr>
            <td>Sample Evidence 2</td>
            <td>Another description</td>
            <td>Another Matter</td>
        </tr>
    </tbody>
</table>
